:host {
  margin: 2px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  position: relative;
}
h3 {
  margin: 0;
}
picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  object-fit: cover;
}
button {
  background-color: #eba83a;
  color: white;
  border: none;
  padding: 8px 16px;
  box-shadow: none;
  box-sizing: inherit;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
strong {
  position: absolute;
  bottom: 10px;
  left: 10px;
}